.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}

.BackPlate {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  /*background: radial-gradient(ellipse at bottom, var(--color-light), var(--color-dark)); */
}