.Button {

  backdrop-filter: blur(8px);
  border: 2px solid var(--color-dark);
  cursor: pointer;
  display: inline-block;
  font-family: var(--type-title);
  letter-spacing: var(--tracking-title);
  line-height: var(--leading-title);
  padding: .2em .8em;
  text-transform: uppercase;

}

a {
  position: relative;
  transition: color .5s ease-out;
}

a:hover {
  color: var(--color-accent);
}

.u-decorateLinks a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--color-dark);
  transform: scaleX(0);
  opacity: 0;
  transform-origin: left center;
  transition: transform .5s ease-out, opacity .5s ease-out, background-color .5s ease-out;
}

.u-decorateLinks a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: var(--color-dark);
  transform: scaleX(0);
  opacity: 0;
  transform-origin: right center;
  transition: transform .5s ease-out, opacity .5s ease-out, background-color .5s ease-out;
}

.u-decorateLinks a:hover:after {
  transform: scaleX(1);
  opacity: 1;
  background: var(--color-accent);
}

.u-decorateLinks a:hover:before {
  transform: scaleX(1);
  opacity: 1;
  background: var(--color-accent);
}

.u-edgeFadeY {
  position: relative;
}

.u-edgeFadeY:before {
  background-image: linear-gradient(
    rgba(248, 248, 248, 1) 0%,
    rgba(248, 248, 248, 0.3) 50%,
    rgba(248, 248, 248, 0.15) 65%,
    rgba(248, 248, 248, 0.075) 75.5%,
    rgba(248, 248, 248, 0.037) 82.85%,
    rgba(248, 248, 248, 0.019) 88%,
    rgba(248, 248, 248, 0) 100%
  );
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 33.333%;
  max-height: 300px;
  z-index: 99;
  pointer-events: none;
}

.u-edgeFadeY:after {
  background-image: linear-gradient(
    0deg,
    rgba(248, 248, 248, 1) 0%,
    rgba(248, 248, 248, 0.3) 50%,
    rgba(248, 248, 248, 0.15) 65%,
    rgba(248, 248, 248, 0.075) 75.5%,
    rgba(248, 248, 248, 0.037) 82.85%,
    rgba(248, 248, 248, 0.019) 88%,
    rgba(248, 248, 248, 0) 100%
  );
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 33.333%;
  max-height: 300px;
  z-index: 100;
  pointer-events: none;
}